In [1]:
1 * 3

3

In [2]:
def kali(a):
    print(a*3)
a = kali (3)

9

In [4]:
print(a)

None

In [5]:
def kali(a,b):
    return a*b
print(kali(2,3))

6

In [7]:
x = kali(3,4)
y = kali(5,6)
z = kali(x,y)
print(z)

360

In [8]:
def str_joiner(a,b):
    return a + b

In [9]:
str_joiner('ayam', 'burung')

'ayamburung'

In [26]:
def str_joiner(a,b,c):
    a = a.capitalize()
    b = b.capitalize()
    c = c.capitalize()
    return a + b + c
str_joiner('saya ', 'mau ', 'makan ') [::-1]

' nakaM uaM ayaS'

In [28]:
total= 20
def function_a(a,b):
    total = a+b
    return total
print(total)
print(function_a(2,5))

20
7

In [44]:
mylist = [31,21,2,56,77,23,12,11,19,20,31,35,17]

def func(a):
    nGenap = 0
    nGanjil = 0
    sumGenap = 0
    sumGanjil = 0
    for i in a:
        if i % 2 ==0:
            nGenap += 1
            sumGenap += 1
        else:
            nGanjil += 1
            sumGanjil += i
    print ('n angka ganjil adalah = ' + str(nganjil))
    print ('n angka genap adalah = ' + str(nGenap))
    print ('n sum angka ganjil adalah = ' + str(sumGanjil))
    print ('n sum angka ganjil adalah = ' + str(sumGenap))

In [48]:
def printinfo(name,age=21):
    print('Name : ',name)
    print('Age : ',age)
printinfo('Isma')

Name :  Isma
Age :  21

In [49]:
def printinfo(x, *vartuple):
    print('output is :')
    print(x)
    print(vartuple)

In [51]:
printinfo(2,5,6,7,'isma',0)

output is :
2
(5, 6, 7, 'isma', 0)

Lambda

In [53]:
def sum(x,y):
    return x + y
print(sum(3,8))

11

In [56]:
perkalian = lambda x,y:x*y
print(perkalian(5,6))

30

modules

In [58]:
import numpy as np
np.sqrt(9)

3.0

In [59]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_14',
 '_15',
 '_17',
 '_25',
 '_26',
 '_30',
 '_57',
 '_58',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'func',
 'function_a',
 'get_ipython',
 'kali',
 'mylist',
 'np',
 'perkalian',
 'printinfo',
 'quit',
 'str_joiner',
 'sum',
 'total',
 'x',
 'y',
 'z']

In [61]:
np.__file__

'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\numpy\\__init__.py'

In [62]:
import matplotlib.pyplot as plt

package